<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DataFolder" value="C:\Work\DacqPipe\Data"/>-->
    <add key="OutputFileName" value="C:\Users\Administrator\Desktop\reportDomains.txt"/>
    <add key="ExcludeUrlArgs" value="utm_campaign,feedName,mod,rss_id,comment,commentid,partner"/>
    <add key="DbConnectionString" value="Server=kt-hyper.ijs.si;Database=DacqPipeSlovene;User ID=miha;Password=***"/>
  </appSettings>
</configuration>