<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IncludeRules" value="yyyyyyy"/>
    <add key="ExcludeRules" value="yyyyyyyyyyy"/>
    <!--<add key="InputFileName" value="C:\Work\DacqPipe\RssSources\GermanRssSources.txt"/>
    <add key="OutputFileName" value="C:\Work\DacqPipe\RssSources\GermanRssSources2.txt"/>-->
    <add key="InputFileName" value="C:\Work\Rss4Borut\ZaEnejo2.txt"/>
    <add key="OutputFileName" value="C:\Work\Rss4Borut\ZaEnejo2.out.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
