<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IncludeRules" value="yyyyy"/>
    <add key="ExcludeRules" value="yyyyyyyyyyy"/>
    <add key="InputFileName" value="C:\Work\DacqPipe\RssSources\GermanRssSources.txt"/>
    <add key="OutputFileName" value="C:\Work\DacqPipe\RssSources\GermanRssSources2.txt"/>
  </appSettings>
</configuration>