<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	<appSettings>
		<add key="logFileName" value="D:\Data\EnglishDacq\log.txt"/>
		<add key="xmlDataRoot" value="D:\Data\EnglishDacq\Data2"/>
		<add key="xmlDataDumpRoot" value="D:\Data\EnglishDacq\DataDump2" />
		<add key="htmlDataRoot" value="D:\Data\EnglishDacq\DataHtml2" />
		<add key="htmlDataDumpRoot" value="D:\Data\EnglishDacq\DataDumpHtml2" />
		<!--<add key="htmlViewRoot" value="D:\Data\EnglishDacq\ViewHtml2" />-->
		<add key="htmlDumpViewRoot" value="D:\Data\EnglishDacq\DumpViewHtml2" />
		<add key="dataSourcesFileName" value="RssSourcesBig.txt"/>
		<add key="dbConnectionString" value="Server=(local);Database=EnglishDacq3;Trusted_Connection=Yes"/>
		<add key="dbConnectionStringDump" value="Server=(local);Database=EnglishDacqDump3;Trusted_Connection=Yes"/>
		<add key="maxDocsPerCorpus" value="-1"/>
		<add key="randomDelayAtStart" value="yes"/>
		<add key="language" value="English"/>
		<add key="numPipes" value="8"/>
		<add key="sleepBetweenPolls" value="00:15:00"/>
		<!-- expert settings -->
		<add key="rssReaderDefaultRssXmlEncoding" value="ISO-8859-1"/>
		<add key="rssReaderDefaultHtmlEncoding" value="ISO-8859-1"/>
		<add key="urlRulesFileName" value="rules.txt"/>
		<add key="urlBlacklistFileName" value="shitlist.txt"/>
		<!-- obsolete -->
		<!--<add key="webSiteId" value="dacq"/>-->
		<!--<add key="offlineSource" value="C:\Users\Administrator\Desktop\TestData"/>-->
		<!--<add key="clientIp" value=""/>-->
	</appSettings>
</configuration>
