<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	<appSettings>
		<add key="logFileName" value="C:\Work\DacqPipe\log.txt"/>
		<add key="xmlDataRoot" value="C:\Work\DacqPipe\Data"/>
		<add key="xmlDataDumpRoot" value="C:\Work\DacqPipe\DataDump" />
    <add key="htmlDataRoot" value="C:\Work\DacqPipe\DataHtml" />
    <add key="htmlDataDumpRoot" value="C:\Work\DacqPipe\DataDumpHtml" />
		<add key="htmlViewRoot" value="C:\Work\DacqPipe\ViewHtml" />
    <add key="htmlDumpViewRoot" value="C:\Work\DacqPipe\DumpViewHtml" />
    <add key="dataSourcesFileName" value="C:\Work\DacqPipe\RssSources\SloRssSources.txt"/>
		<add key="dbConnectionString" value="Server=(local);Database=DacqPipe;Trusted_Connection=Yes"/>
    <add key="dbConnectionStringDump" value="Server=(local);Database=DacqPipeDump;Trusted_Connection=Yes"/>
		<add key="maxDocsPerCorpus" value="-1"/>
		<add key="randomDelayAtStart" value="no"/>
		<add key="language" value="Slovene"/>
    <add key="numPipes" value="4"/>
    <add key="sleepBetweenPolls" value="00:15:00"/>
    <!-- expert settings -->
    <add key="rssReaderDefaultRssXmlEncoding" value="ISO-8859-1"/>
    <add key="rssReaderDefaultHtmlEncoding" value="ISO-8859-1"/>
    <add key="urlRulesFileName" value="C:\Work\DacqPipe\Config\rulesSlo.txt"/>
    <add key="urlBlacklistFileName" value="C:\Work\DacqPipe\Config\shitlist.txt"/>
    <!-- obsolete -->
    <!--<add key="webSiteId" value="dacq"/>-->
    <!--<add key="offlineSource" value="C:\Users\Administrator\Desktop\TestData"/>-->
    <!--<add key="clientIp" value=""/>-->
  </appSettings>
</configuration>
