<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <gcServer enabled="true"/>
    </runtime>
    <appSettings>
        <!--<add key="logFileName" value="log.txt"/>-->
        <add key="xmlDataRoot" value="Data"/>
        <!--<add key="xmlDataDumpRoot" value="DataDump"/>-->
        <add key="htmlDataRoot" value="DataHtml"/>
        <!--<add key="htmlDataDumpRoot" value="DataDumpHtml"/>-->
        <!--<add key="htmlViewRoot" value="ViewHtml"/>-->
        <add key="dataSourcesFileName" value="C:\Work\DacqPipe\RssSources\RssSourcesBig.txt"/>
        <add key="dbConnectionString" value="Server=localhost;Database=DacqPipe;Integrated Security=Yes;UserName=mIHA;Pooling=False;"/>
        <add key="language" value="English"/>
        <add key="numPipes" value="2"/>
        <add key="sleepBetweenPolls" value="00:15:00"/>
        <!-- expert settings -->
        <add key="maxDocsPerCorpus" value="50"/>
        <add key="randomDelayAtStart" value="no"/>
        <add key="rssReaderDefaultRssXmlEncoding" value="ISO-8859-1"/>
        <add key="rssReaderDefaultHtmlEncoding" value="ISO-8859-1"/>
        <!--<add key="urlRulesFileName" value="rules.txt"/>-->
        <!--<add key="urlBlacklistFileName" value="shitlist.txt"/>-->
        <!-- undocumented (for debugging) -->
        <!--<add key="htmlDumpViewRoot" value="DumpViewHtml"/>-->
        <!--<add key="dbConnectionStringDump" value="Server=localhost;Database=DacqPipeDump;Integrated Security=Yes;UserName=mIHA;Pooling=False;"/>-->
        <!--<add key="webSiteId" value="dacq"/>-->
        <!--<add key="clientIp" value=""/>-->
    </appSettings>
</configuration>